@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    /* color: white; */
}


body{
    background-color: rgb(24, 24, 24);
    /* height: 100vh; */
}

.input_box {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.input_box > input {
    flex: 1;
    outline: none;
}

.chatbox ::-webkit-scrollbar {
  /* width: 6px; */
  width: 8px;
}

/* The background of the scrollbar */
.chatbox ::-webkit-scrollbar-track {
  background: #232323; /* Tailwind gray-800 */
}

/* The actual draggable bar */
.chatbox ::-webkit-scrollbar-thumb {
  background: #7e7e7e; /* Tailwind gray-600 */
  border-radius: 8px;
}